# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/static
/tpl

# production
/build

# idea
/.idea

.eslintrc
.editorconfig
.npmignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*
package-lock.json*
